<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.bihu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".mUser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--这里注册拍照那个内容提供者android:name为固定值
        android:authorities和FileProvider.getUriForFile
        第二个参数值一样 。meta-data指定uri共享路径，创建@xml/file_paths文件
        -->
        <provider
            android:authorities="com.example.mac.bihu,fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>


        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegistActivity" />
        <activity android:name=".Activity.FavoriteActivity" />
        <activity android:name=".Activity.AskQuestionActivity" />
        <activity android:name=".Activity.itemTouchActivity" />
        <activity android:name=".Activity.AnswerActivity" />
        <activity android:name=".Activity.ChangeAvatarActivity"></activity>
    </application>

</manifest>